@charset "utf-8";

@import url("normalize.css");



@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('/_inc/font/NanumGothic-Regular.eot');
  src: url('/_inc/font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
	   url('/_inc/font/NanumGothic-Regular.woff2') format('woff2'),
	   url('/_inc/font/NanumGothic-Regular.woff') format('woff'),
	   url('/_inc/font/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('/_inc/font/NanumGothic-Bold.eot');
  src: url('/_inc/font/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
	   url('/_inc/font/NanumGothic-Bold.woff2') format('woff2'),
	   url('/_inc/font/NanumGothic-Bold.woff') format('woff'),
	   url('/_inc/font/NanumGothic-Bold.ttf') format('truetype');
}


html {-webkit-overflow-scrolling:touch;}
body {font-size:12px;line-height:1.5;-webkit-overflow-scrolling:touch;-webkit-font-smoothing: antialiased;font-family:'Nanum Gothic',나눔고딕,Serif;position: relative;}
i, cite, em, var, address, dfn {font-style:normal;}

.clfix:after {content: "."; display: block; height: 0px; clear: both; visibility: hidden;}
.clfix {display: inline-block;}
.clfix {display: block;}
* html .clfix {height: 1%;} /* Hides from IE-mac */
.clfix { zoom:1; } /*for IE 5.5-7*/
.ir {text-indent:-100%;*text-indent:0;white-space:nowrap;overflow:hidden;font-size:0;line-height:0;text-shadow:none;color:transparent;}
.ib {display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;}
.hidden {visibility:hidden;overflow:hidden;display:block;width:0;height:0;font-size:0;line-height:0;}
caption,legend {visibility:hidden;overflow:hidden;display:block;width:0;height:0;font-size:0;line-height:0;}
img {vertical-align:top;}

input, label {display:inline-block;vertical-align:middle;}
input[type="text"] {width:96%;padding:8px;border:1px solid #adadad;background:#fff;color:#adadad;font-size:13px;}
table {width:100%;table-layout:fixed;position: relative;}
caption,legend {visibility:hidden;overflow:hidden;display:block;width:0;height:0;font-size:0;line-height:0;}

/* layout */
.fl {float:left;}
.fr {float:right;}

/* helper */
.v-t {vertical-align:top;}
.v-m {vertical-align:middle;}
.t-c {text-align:center !important;}
.t-r {text-align:right !important;}
.t-l {text-align:left !important;}
.ti0 {text-indent:0 !important;}

.fs_11 {font-size:11px !important;}


#wrap {width:100%;min-width:1100px;position:relative;}
#header { border-bottom:1px solid #c5c5c5; background-color:#fff;}
#header .topBar {background:#000000; height:36px;  margin:0 auto;}
#header .topBar ul {width:166px; margin:0 auto;}
#header .topBar ul li {float:left; float:left;width:83px; height:36px;}
#header .topBar ul li a { display:inline-block;width:83px; height:36px; background:#1c1c1c; text-align:center; font-size:12; font-weight:700; line-height:36px; color:#fff;}
#header .topBar ul li a.on {background:#fff; color:#000;}

#header #nav {position:relative; width:1000px; margin:0 auto; height:80px;}
#header #nav h1 {position:absolute; left:6px; top:15px;}
#header #nav h1 span {display:inline-block; width:108px; height:50px; background:url('/_img/common/gnb_logo.png') no-repeat;}
#header #nav ul {margin-left:240px; padding-top:30px;}
#header #nav ul li {float:left; height:15px; padding:0 30px; border-left:1px solid #e2e2e2;}
#header #nav ul li:first-child {border:none;}
#header #nav ul li a {font-size:18px; color:#444; font-weight:700; display:inline-block; margin-top:-10px;}
#header #nav .search {position:absolute; right:0; top:20px;}
#header #nav .search button { background:none; border:none; padding:0; position:absolute; right:12px; top:8px;}
#header #nav .search button span {display:block;}
#header #nav .search input[type="text"] {width:180px; padding-right:40px;}

.bg_e9 { background-color:#e9e9e9;}
.w1000 {width:1000px; margin:0 auto;}

.pt18 {padding-top:18px !important;}
.pt20 {padding-top:20px !important;}

.main_visual {width:698px; height:233px; border:1px solid #d1d1d1; background:url('/_img/common/main_img0.jpg') no-repeat; box-shadow: 3px 3px 2px #ddd;}
.direct_link {margin-left:10px;}
.direct_link ul {width:288px; border:1px solid #d1d1d1;}
.direct_link ul li {float:left; width:144px; height:144px; position:relative;}
.direct_link ul li.cell0 {background-color:#a5d0eb;}
.direct_link ul li.cell1 {background-color:#70c5d4;}
.direct_link ul li.cell2 {background-color:#a5dda4;}
.direct_link ul li.cell3 {background-color:#ffb991;}
.direct_link ul li.cell4 {background-color:#d0cdc9;}
.direct_link ul li.cell5 {background-color:#dddcd7;}

.direct_link ul li a {display:block; width:144px; height:144px;}
.direct_link ul li .tit {font-size:18px; color:#000; position:absolute; top:29px;left:12px; font-weight:700; line-height:19px;letter-spacing:-1px;}
.direct_link ul li .tit.line2 {font-size:17px; top:20px;}
.direct_link ul li .des {font-size:12px; color:#000; position:absolute; bottom:15px;left:10px; font-weight:700; line-height:16px;letter-spacing:-1px;}
.direct_link ul li .asset {position:absolute; width:32px; height:28px; top:25px; right:15px;}

.direct_parts {width:698px; height:187px; margin-top:10px; background-color:#c8e2f2; border:1px solid #d1d1d1; position:relative;}
.direct_parts h4 {font-size:20px; color:#333; margin-top:22px; margin-left:36px;}
.direct_parts ul { position:absolute; top:65px; left:29px;}
.direct_parts ul li { float:left; margin:3px 6px;}
.direct_parts ul li a {font-size:17px; color:#454545; font-weight:700; background:url('/_img/common/asset_m.png') no-repeat 0 -200px; display:block; width:148px; height:47px; line-height:45px; position:relative; }
.direct_parts ul li a .asset {position:absolute; top:13px; left:106px;}
.direct_parts ul li a:hover {color:#fff;background-position-y:-250px;}
.direct_parts ul li a:hover .asset {background-position-y:-50px;}
.direct_parts ul li a span {display:block; padding-right:33px; text-align:center;}
.direct_parts ul li.btnAll a {background-position-x:-150px;}


.main_notice {width:638px; border:1px solid #d1d1d1; padding:20px 30px; background-color:#fff; margin-top:10px; margin-bottom:40px;box-shadow: 3px 3px 2px #ddd; height:191px;}
.main_notice .info_box:first-child { margin-left:0;}
.main_notice .info_box {width:290px; position:relative; float:left; margin-left:50px;}
.main_notice .info_box h4{font-size:18px; color:#544d45; padding-left:42px; position:relative; border-bottom:1px solid #dedede; padding-bottom:10px;}
.main_notice .info_box h4 span {position:absolute; left:0; top:6px;}
.main_notice .info_box a.btnAll { position:absolute; right:0; top:6px; color:#989898; font-size:14px; padding-left:18px; letter-spacing:-1px;}
.main_notice .info_box a.btnAll .asset {position:absolute; left:0; top:4px;}

.main_notice .info_box ul {margin-top:15px;}
.main_notice .info_box ul li { margin:9px 0; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.main_notice .info_box ul li a {color:#666666;}
.main_notice .info_box ul li a:hover {color:#000;}
.main_notice .info_box ul li span {margin-right:3px;}


.direct_info {width:288px;border:1px solid #d1d1d1; margin-left:10px; margin-top:10px; background-color:#fff;box-shadow: 3px 3px 2px #ddd;}
.direct_info ul li:first-child {border:none;}
.direct_info ul li {border-top:1px solid #d1d1d1; font-size:15px; position:relative;}
.direct_info ul li a {padding-left:60px; color:#666; height:57px; line-height:57px;font-weight:700; display:block;}
.direct_info ul li a span {position:absolute; left:22px; top:17px;}
.direct_info ul li a .if_arrow {position:absolute; top:20px; right:25px;}

.asset {background:url('/_img/common/asset_m.png') no-repeat; width:16px; height:16px; display:inline-block;}
.asset.searchBtn {background-position:-400px 0px; width:20px; height:20px;}
.asset.dl_icon0 {background-position:0px -100px;}
.asset.dl_icon1 {background-position:-50px -100px;}
.asset.dl_icon2 {background-position:-100px -100px;}
.asset.dl_icon3 {background-position:-150px -100px;}
.asset.dl_icon4 {background-position:-200px -100px;}
.asset.dl_icon5 {background-position:-250px -100px;}


.asset.pt_icon0 {background-position:0px 0px; width:28px; height:20px;}
.asset.pt_icon1 {background-position:-50px 0px; width:28px; height:20px;}
.asset.pt_icon2 {background-position:-100px 0px; width:28px; height:20px;}
.asset.pt_icon3 {background-position:-150px 0px; width:28px; height:20px;}
.asset.pt_icon4 {background-position:-200px 0px; width:28px; height:20px;}
.asset.pt_icon5 {background-position:-250px 0px; width:28px; height:20px;}
.asset.pt_icon6 {background-position:-300px 0px; width:28px; height:20px;}
.asset.pt_icon7 {background-position:-350px 0px; width:28px; height:20px;}

.asset.info_plus {background-position:-450px 0px; width:13px; height:13px;}

.asset.if_icon0 {background-position:0px -150px; width:25px; height:25px;}
.asset.if_icon1 {background-position:-50px -150px; width:25px; height:25px;}
.asset.if_icon2 {background-position:-100px -150px; width:25px; height:25px;}
.asset.if_icon3 {background-position:-150px -150px; width:25px; height:25px;}

.asset.if_arrow {background-position:-400px -50px; width:10px; height:19px;}

.roundBox {border-radius:4px; color:#fff; padding:2px 4px; font-size:11px;}
.bg_blue1 {background-color:#007eff;}
.bg_blue2 {background-color:#1961a5;}
.bg_orange1 {background-color:#ff7800;}

#footer { border-top:1px solid #c9c9c9; padding:25px 0;}
#footer ul {width:373px; margin:0 auto;}
#footer ul li:first-child {border:none;}
#footer ul li {float:left; border-left:1px solid #888; height:9px;}
#footer ul li a {color:#333333; font-size:13px; font-weight:700; padding:0 13px; display:block; margin-top:-5px;}
#footer p {clear:both; text-align:center; font-weight:700; color:#888888; font-size:11px; margin-top:15px;}